.container-total{
    padding: 2rem;
    width: 100%;
    margin: 2rem 0 2rem 0;
    background-color: blue;
    display: inline-block;
    color: whitesmoke;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.card{
    width: 300px;
    padding: 1rem;
    border: 1px solid black;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .card-image{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .card-title{
        font-size: 2rem;
    }
    .card-description{
        font-size: 1.6rem;
    }
    .card-price{
        font-size: 1.5rem;
    }
    .card-button{
        font-size: 1.6rem;
        padding: 1rem;
    }
    
}
